---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="root-child-outer">
    <div class="root-child-inner grid-bg">
      <article>
        <h3>404: Page not found ;(</h3>
      </article>
    </div>
  </div>
</Layout>

<style>
  article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  h3 {
    font-weight: bold;
  }
</style>
