---
import { Image } from "astro:assets";

import me from "../assets/me.webp";
import Anchor from "../components/Anchor";
import ContactButton from "../components/ContactButton";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enoch - About" activeNav="about">
  <div class="container">
    <Image
      src={me}
      alt="enoch bouldering in red rock"
      width={360}
      height={0}
      format="webp"
    />
    <div class="text-container">
      <h1 class="intro">hello there</h1>
      <p>
        I'm a full stack software engineer at
        <a href="https://gatsby.events">Gatsby</a>. I'm interested in JavaScript
        compilers, distributed systems, and dev tooling. Sometimes I write about
        walking, coding, coffee, and whatever else is on my mind. On the
        weekends, you'll probably find me out at
        <a href="https://www.mountainproject.com/user/200380484/enoch-chau">
          the boulders.
        </a>
      </p>
      <ul>
        <li>
          <Anchor
            href="https://www.linkedin.com/in/enoch-chau-a2a522126/"
            class="underline transition-all decoration-transparent hover:decoration-purple-500 font-bold"
            >linkedin
          </Anchor>
        </li>
        <li>
          <Anchor href="https://github.com/enochchau">github</Anchor>
        </li>
      </ul>
      <ContactButton client:idle />
    </div>
  </div>
</Layout>

<style>
  .container {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 16px;
  }

  .text-container {
    width: 100%;
    line-height: 120%;
  }
  .intro {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 720px) {
    .text-container {
      width: calc(50% - 16px);
      line-height: 140%;
    }
  }

  ul {
    padding: 8px 0;
    > li:not(:last-child) {
      margin-bottom: 4px;
    }
  }
</style>
