---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import me from "../assets/me.jpg";
---

<Layout title="Enoch - About" activeNav="about">
  <div class="about">
    <Image
      src={me}
      alt="enoch bouldering in red rock"
      width={360}
      height={0}
      format="webp"
    />
    <article>
      <h1>hello there</h1>
      <p>
        I'm a full stack software enigneer at <a href="https://gatsby.events"
          >Gatsby
        </a>. I'm interested in JavaScript bundlers, distributed systems, and
        dev tooling. Sometimes I write about walking, coding, coffee, and
        whatever else is on my mind. On the weekends, you'll probably find me
        out at the <a
          href="https://www.mountainproject.com/user/200380484/enoch-chau"
          >boulders
        </a>.
      </p>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/enoch-chau-a2a522126/"
            >linkedin
          </a>
        </li>
        <li>
          <a href="https://github.com/ec965">github</a>
        </li>
      </ul>
      <button id="see-contact">See contact</button>
      <p id="email"></p>
    </article>
  </div>
</Layout>

<script>
  let showContact = document.getElementById("see-contact") as HTMLButtonElement;
  let emailP = document.getElementById("email") as HTMLParagraphElement;
  showContact.onclick = () => {
    if (!emailP.innerText) {
      showContact.innerText = "Hide contact";
      emailP.innerHTML =
        '<a href="mailto: enoch965@gmail.com">enoch965@gmail.com</a>';
    } else {
      showContact.innerText = "Show contact";
      emailP.innerHTML = "";
    }
  };
</script>

<style lang="scss">
  button,
  ul {
    margin-top: 1rem;
  }

  .about {
    display: flex;
    flex-wrap: wrap-reverse;

    article {
      width: 23rem;
      margin-bottom: 2rem;

      p {
        line-height: 1.5;
      }

      h1 {
        margin-bottom: 0.6rem;
      }
    }
  }

  img {
    margin-right: 2rem;
  }
</style>
