---
import { Image } from "astro:assets";

import me from "../assets/me.webp";
import Anchor from "../components/Anchor";
import ContactButton from "../components/ContactButton";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enoch - About" activeNav="about">
  <div class="flex flex-wrap-reverse gap-4">
    <Image
      src={me}
      alt="enoch bouldering in red rock"
      width={360}
      height={0}
      format="webp"
    />
    <div class="w-1/2">
      <h1 class="text-2xl font-bold">hello there</h1>
      <p>
        I'm a full stack software engineer at
        <a href="https://gatsby.events">Gatsby</a>. I'm interested in JavaScript
        compilers, distributed systems, and dev tooling. Sometimes I write about
        walking, coding, coffee, and whatever else is on my mind. On the
        weekends, you'll probably find me out at
        <a href="https://www.mountainproject.com/user/200380484/enoch-chau">
          the boulders.
        </a>
      </p>
      <ul class="py-2">
        <li>
          <Anchor
            href="https://www.linkedin.com/in/enoch-chau-a2a522126/"
            class="underline transition-all decoration-transparent hover:decoration-purple-500 font-bold"
            >linkedin
          </Anchor>
        </li>
        <li>
          <Anchor href="https://github.com/enochchau">github</Anchor>
        </li>
      </ul>
      <div class="contact-container">
        <ContactButton client:idle />
      </div>
    </div>
  </div>
</Layout>
