---
import { Image } from "@astrojs/image/components";

import penguin from "../assets/penguin.webp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enoch Chau">
  <div class="title">
    <a aria-label="Toggle dark mode" href="javascript:void 0">
      <Image
        id="penguin"
        src={penguin}
        format="webp"
        width={160}
        height={0}
        alt="penguin mascot"
      />
    </a>
    <h1><strong>enoch chau</strong></h1>
    <h2>conversation enthusiast</h2>
    <h3>(humans and computers)</h3>
    <div class="links">
      <h3>
        <a href="https://www.linkedin.com/in/enoch-chau-a2a522126/">linkedin</a>
      </h3>
      <h3><a href="https://github.com/ec965">github</a></h3>
    </div>
  </div>
</Layout>

<script>
  const penguin = document.getElementById("penguin");
  const darkMedia = matchMedia("(prefers-color-scheme: dark)");
  darkMedia.addEventListener("change", () => {
    const root = document.documentElement;
    localStorage.removeItem("theme");
    root.classList.remove("light-theme");
    root.classList.remove("dark-theme");
  });

  function setLightTheme() {
    const root = document.documentElement;
    // default is dark
    if (darkMedia.matches) {
      localStorage.setItem("theme", "light");
      root.classList.add("light-theme");
      root.classList.remove("dark-theme");
    } else {
      localStorage.removeItem("theme");
      root.classList.remove("light-theme");
      root.classList.remove("dark-theme");
    }
  }

  function setDarkTheme() {
    const root = document.documentElement;
    // default is dark
    if (!darkMedia.matches) {
      localStorage.setItem("theme", "dark");
      root.classList.add("dark-theme");
      root.classList.remove("light-theme");
    } else {
      localStorage.removeItem("theme");
      root.classList.remove("light-theme");
      root.classList.remove("dark-theme");
    }
  }

  if (penguin) {
    penguin.addEventListener("click", () => {
      let theme = localStorage.getItem("theme");
      if (typeof theme === "string") {
        switch (theme) {
          case "light":
            setDarkTheme();
            break;
          case "dark":
            setLightTheme();
            break;
        }
      } else {
        if (darkMedia.matches) {
          setLightTheme();
        } else {
          setDarkTheme();
        }
      }
    });
  }
</script>

<style lang="scss">
  .title {
    img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .links {
    gap: 1rem;
    display: flex;
  }
</style>
