---
import Mascot from "../components/Mascot.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enoch Chau">
  <div class="title">
    <Mascot />
    <h1><strong>enoch chau</strong></h1>
    <h2>conversation enthusiast</h2>
    <h3>(humans and computers)</h3>
    <div class="links">
      <h3>
        <a href="https://www.linkedin.com/in/enoch-chau-a2a522126/">linkedin</a>
      </h3>
      <h3><a href="https://github.com/enochchau">github</a></h3>
    </div>
  </div>
</Layout>

<style lang="scss">
  .title {
    text-align: center;
  }
  .title {
    img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .links {
    gap: 8px;
    display: flex;
  }
</style>
