---
import Anchor from "../components/Anchor";
import Mascot from "../components/Mascot.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enoch Chau">
  <div class="container">
    <Mascot />
    <h1>enoch chau</h1>
    <h2>conversation enthusiast</h2>
    <h3>(humans and computers)</h3>
    <ul>
      <li>
        <Anchor href="https://www.linkedin.com/in/enoch-chau-a2a522126/"
          >linkedin</Anchor
        >
      </li>
      <li>
        <Anchor href="https://github.com/enochchau">github</Anchor>
      </li>
    </ul>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 8px;
  }
  ul {
    display: flex;
    gap: 8px;
  }
</style>
