---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import penguin from "../assets/penguin.png";
---

<Layout title="Enoch Chau">
  <div class="title">
    <Image
      id="penguin"
      src={penguin}
      format="webp"
      width={160}
      height={0}
      alt="penguin mascot"
      onclick="swapTheme()"
    />
    <h1><strong>enoch chau</strong></h1>
    <h2>conversation enthusiast</h2>
    <h3>(humans and computers)</h3>
    <div class="links">
      <h3>
        <a href="https://www.linkedin.com/in/enoch-chau-a2a522126/">linkedin</a>
      </h3>
      <h3><a href="https://github.com/ec965">github</a></h3>
    </div>
  </div>
</Layout>

<script is:inline>
  function swapTheme() {
    let root = document.documentElement;
    let penguin = document.getElementById("penguin");
    let darkTheme = "dark-theme";

    if (root.classList.contains(darkTheme)) {
      root.classList.remove(darkTheme);
      penguin.classList.remove("invert");
      localStorage.setItem("theme", "light");
    } else {
      localStorage.setItem("theme", "dark");
      root.classList.add(darkTheme);
      penguin.classList.add("invert");
    }
  }
</script>

<style lang="scss">
  .title {
    img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
      margin-bottom: 1rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 10rem;
  }

  .invert {
    filter: invert(100%);
  }
</style>
