---
import CreateNav from "../../components/CreateNav.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Enoch - Create" activeNav="create">
  <article class="flex items-center justify-center h-40 flex-col">
    <h1 class="text-3xl font-bold">creative endevours</h1>
    <CreateNav />
  </article>
</Layout>
