---
import CreateNav from "../../components/CreateNav.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Enoch - Create" activeNav="create">
  <article>
    <h1 class="text-3xl font-bold">creative endevours</h1>
    <CreateNav />
  </article>
</Layout>

<style>
  article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
  }
</style>
