---
import CreateNav from "../../components/CreateNav.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Enoch - Create" activeNav="create">
  <div class="center">
    <h1><strong>creative endevours</strong></h1>
    <CreateNav />
  </div>
</Layout>

<style lang="scss">
  .center {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
</style>
