$tag-gap: 8px;
$tag-padding: 4px 6px;

.post-list {
  list-style-type: none;
}

.post {
  padding-bottom: 16px;
}

.title {
  font-weight: bold;
  font-family: var(--font-sans-serif);
}

.title-group {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  position: relative;
  width: fit-content;
  color: var(--primary);

  &:hover {
    text-decoration: none;
    color: var(--secondary);
    &:after {
      height: 100%;
    }
  }

  &:after {
    transition: all var(--hover-time) ease-out;
    content: " ";
    position: absolute;
    width: 100%;
    background-color: var(--secondary);
    height: 0;
    opacity: 0.2;
    border-radius: 3px;
    padding: 0 4px 4px 4px;
    box-sizing: content-box;
    left: -4px;
  }
}

.readtime {
  color: var(--grey2);
}

.chosen-container {
  padding: $tag-gap 0;
  gap: $tag-gap;
  display: flex;
}

.tags-container {
  padding-top: 6px;
  gap: $tag-gap;
  display: flex;
}

@mixin default-tag-color {
  background: var(--background-secondary);
  color: var(--primary);
}

@mixin invert-tag-color {
  background: var(--grey2);
}

.tag {
  padding: $tag-padding;
  outline: none;
  cursor: pointer;
  font-weight: normal;
  @include default-tag-color;
  transition: background var(--hover-time) ease;
}

.tag:hover,
.selected {
  @include invert-tag-color;
}

.selected {
  cursor: unset;
}

.chosen-filter {
  cursor: pointer;

  &:hover {
    @include default-tag-color;
  }
}

.year {
  padding: $tag-gap 0 12px 0;
  display: block;

  > a {
    transition: background-color var(--hover-time) ease;
    padding: 2px 3px;
    background-color: inherit;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: var(--primary);
    }

    &:visited {
      color: var(--primary);
    }
  }
}

.year-match > a,
.year-nomatch > a:hover {
  @include invert-tag-color;
}

.date {
  color: var(--grey);
}
