.relative {
  position: relative;
}

.tagRow {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.blogList {
  padding-left: 8px;
}

.blogItem {
  padding-bottom: 16px;
}

.blogAnchor {
  color: inherit;
  text-decoration: none;
}
.blogAnchor:visited {
  color: light-dark(var(--color-gray-500), var(--color-gray-300));
}
.blogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
.blogReadingTime {
  font-style: italic;
}

.blogMeta {
  color: light-dark(var(--color-gray-500), var(--color-gray-200));
}

.yearHeader {
  z-index: 3;
  position: sticky;
  top: 8px;
  left: 0;

  border-bottom: 2px solid
    light-dark(var(--color-gray-300), var(--color-gray-500));
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  background-color: light-dark(var(--color-white), var(--color-black));
  &:hover {
    background-color: light-dark(var(--color-gray-300), var(--color-gray-500));
  }
  transition-duration: var(--delay-m);
  color: inherit;
  a {
    color: inherit;
    text-decoration: none;
  }
  font-weight: normal;
  margin-bottom: 16px;
}

.yearHeaderMatches {
  background-color: light-dark(var(--color-gray-300), var(--color-gray-500));
  &:hover {
    background-color: light-dark(var(--color-white), var(--color-black));
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}
