.header {
  text-decoration: underline;
  text-decoration-color: transparent;
  &:hover {
    text-decoration-color: var(--color-purple-500);
  }
  transition: var(--delay-m);
  font-weight: bold;
  font-size: var(--text-l);
}