$tag-gap: 0.6rem;
$tag-padding: 0.2rem 0.3rem;

.post {
  margin-bottom: 0.5rem;
}

.title {
  line-height: 1.4;
  font-weight: bold;
  font-family: var(--font-sans-serif);
}

.readtime {
  color: var(--grey);
}

.chosen-container {
  margin: $tag-gap 0rem;
}

.tags-container {
  margin-top: 0.3rem;
}

.tags-container,
.chosen-container {
  display: flex;
  gap: $tag-gap;
}

@mixin default-tag-color {
  background: var(--background-secondary);
  color: var(--primary);
}

@mixin invert-tag-color {
  background: var(--grey2);
  transition: var(--hover-time) ease;
}

.tag {
  padding: $tag-padding;
  outline: none;
  cursor: pointer;
  font-weight: normal;
  @include default-tag-color;
}

.tag:hover,
.selected {
  @include invert-tag-color;
}

.selected {
  cursor: unset;
}

.chosen-filter {
  cursor: pointer;

  &:hover {
    @include default-tag-color;
  }
}

.year {
  margin: $tag-gap 0rem;
  display: block;
  height: fit-content;

  > a {
    padding: $tag-padding;
    background-color: inherit;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: var(--primary);
    }

    &:visited {
      color: var(--primary);
    }
  }
}

.year-match > a,
.year-nomatch > a:hover {
  @include invert-tag-color;
}
