---
import PageNav from "./PageNav.astro";

interface Props {
  active?: string;
}

const items = ["visual", "sound", "collect"];
const { active } = Astro.props as Props;
---

<div>
  <PageNav
    items={items.map((item) => ({ label: item, value: "create/" + item }))}
    active={active}
  />
</div>

<style lang="scss">
  div {
    margin-bottom: 1rem;
  }
</style>
