---
import PageNav from "./PageNav.astro";

interface Props {
  active?: string;
}

const items = ["visual", "sound", "collect"];
const { active } = Astro.props as Props;
---

<div class="mb-2">
  <PageNav
    items={items.map((item) => ({ label: item, value: "create/" + item }))}
    active={active}
  />
</div>
