---
import NavTitle from "~/components/NavTitle.astro";
import PageNav from "~/components/PageNav.astro";

interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = [
  {
    label: "blog",
    value: "blog",
  },
];
---

<nav>
  <NavTitle />
  <PageNav items={navItems} active={activeNav} />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
</style>
