---
import PageNav from "./PageNav.astro";

interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = [
  {
    label: "blog",
    value: "blog",
  },
  { label: "create", value: "create" },
  { label: "about", value: "about" },
  { label: "rss", value: "rss.xml" },
];
---

<nav>
  <h2 class="title"><a href="/">enoch chau</a></h2>
  <PageNav items={navItems} active={activeNav} />
</nav>

<style lang="scss">
  nav {
    margin: 2vh 0 2vh 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .items {
    display: flex;
    gap: 0.7rem;
  }

  .title {
    font-weight: bold;
    color: var(--primary);
    text-shadow: 1px 1px var(--text-shadow-color),
      2px 2px var(--text-shadow-color), 3px 3px var(--text-shadow-color),
      4px 4px var(--text-shadow-color), 5px 5px var(--text-shadow-color);
    transition: var(--hover-time);

    &:hover {
      transition: var(--hover-time);
      color: var(--text-shadow-color);
      text-shadow: 1px 1px var(--primary), 2px 2px var(--primary),
        3px 3px var(--primary), 4px 4px var(--primary), 5px 5px var(--primary);
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
</style>
