---
import NavTitle from "./NavTitle.astro";
import PageNav from "./PageNav.astro";

interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = [
  {
    label: "blog",
    value: "blog",
  },
  // { label: "create", value: "create" },
  { label: "about", value: "about" },
  // { label: "rss", value: "rss.xml" },
];
---

<nav class="my-2 flex items-end justify-between">
  <NavTitle />
  <PageNav items={navItems} active={activeNav} />
</nav>
