---
import NavTitle from "~/components/NavTitle.astro";
import PageNav from "~/components/PageNav.astro";

interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = [
  {
    label: "blog",
    value: "blog",
  },
];
---

<div class="root-child-outer">
  <nav class="root-child-inner">
    <NavTitle />
    <PageNav items={navItems} active={activeNav} />
  </nav>
</div>

<style>
  nav {
    padding: 8px 8px 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
</style>
