---
import NavTitle from "./NavTitle.astro";
import PageNav from "./PageNav.astro";

interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = [
  {
    label: "blog",
    value: "blog",
  },
  // { label: "create", value: "create" },
  { label: "about", value: "about" },
  // { label: "rss", value: "rss.xml" },
];
---

<nav>
  <NavTitle />
  <PageNav items={navItems} active={activeNav} />
</nav>

<style lang="scss">
  nav {
    margin: 2vh 0 2vh 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .items {
    display: flex;
    gap: 0.7rem;
  }
</style>
