---
import penguinSvg from "../assets/penguin.svg?raw";
---

<div class="mascot">
  <div set:html={penguinSvg} class="invert" />
</div>

<style>
  .mascot {
    width: 40%;
    min-width: 160px;
    max-width: 220px;
  }
  body.dark .invert {
    filter: invert(1);
  }
  @media (prefers-color-scheme: dark) {
    .invert {
      filter: invert(1);
    }
  }
  body.light .invert {
    filter: none;
  }
</style>
