---
import penguinSvg from "../assets/penguin.svg?raw";
---

<script>
  const penguin = document.getElementById("penguin");
  const root = document.documentElement;

  if (penguin) {
    penguin.addEventListener("click", () => {
      const theme = localStorage.getItem("theme");

      if (theme === "dark") {
        localStorage.setItem("theme", "light");
        root.classList.remove("dark");
      } else if (theme === "light") {
        localStorage.setItem("theme", "dark");
        root.classList.add("dark");
      } else {
        const darkMedia = matchMedia("(prefers-color-scheme: dark)");
        localStorage.setItem("theme", darkMedia.matches ? "light" : "dark");
        if (darkMedia.matches) {
          root.classList.add("dark");
        } else {
          root.classList.remove("dark");
        }
      }
    });
  }
</script>

<a
  aria-label="Toggle dark mode"
  href="javascript:void 0"
  class="transition-all hover:scale-110 w-40 cursor-pointer"
  id="penguin"
>
  <div set:html={penguinSvg} class="dark:invert" />
</a>
