---
import penguinSvg from "../assets/penguin.svg?raw";
---

<script>
  import { setDarkMode, setLightMode, useMediaTheme } from "../util/darkMode";
  const penguin = document.getElementById("penguin");

  if (penguin) {
    penguin.addEventListener("click", () => {
      const theme = localStorage.getItem("theme");
      const darkMedia = matchMedia("(prefers-color-scheme: dark)");

      if (!theme) {
        if (darkMedia.matches) {
          localStorage.setItem("theme", "light");
          setLightMode();
          return;
        } else {
          localStorage.setItem("theme", "dark");
          setDarkMode();
          return;
        }
      } else if (theme === "dark") {
        if (darkMedia.matches) {
          localStorage.setItem("theme", "light");
          setLightMode();
          return;
        } else {
          localStorage.removeItem("theme");
          useMediaTheme();
          return;
        }
      } else if (theme === "light") {
        if (darkMedia.matches) {
          localStorage.removeItem("theme");
          useMediaTheme();
          return;
        } else {
          localStorage.setItem("theme", "dark");
          setDarkMode();
          return;
        }
      }
    });
  }
</script>

<a aria-label="Toggle dark mode" href="javascript:void 0" id="penguin">
  <div set:html={penguinSvg} class="invert" />
</a>
<style>
  a {
    width: 40%;
    min-width: 160px;
    max-width: 220px;
    &:hover {
      transform: scale(1.1);
    }
    transition: transform var(--delay-m);
  }
  body.dark .invert {
    filter: invert(1);
  }
  @media (prefers-color-scheme: dark) {
    .invert {
      filter: invert(1);
    }
  }
</style>
