---
import { Image } from "@astrojs/image/components";

interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
}

const { src, alt, width = 800, height = 0 } = Astro.props as Props;
---

<div>
  <Image src={src} alt={alt} format="webp" width={width} height={height} />
</div>

<style lang="scss">
  div {
    > img {
      width: 100%;
      height: auto;
    }
  }
</style>
