---
import { Image } from "@astrojs/image/components";

interface Props {
  src: string;
  alt: string;
  width?: number;
}

const { src, alt, width = 500 } = Astro.props as Props;
---

<div style={`max-width: ${width}px;`}>
  <Image src={src} alt={alt} width={600} format="webp" />
</div>

<style lang="scss">
  div {
    max-width: 500px;
    > img {
      width: 100%;
      height: auto;
    }
  }
</style>
