<nav>
	<h3><a href="/">enoch chau</a></h3>
	<div class="items">
		<h3><a href="/dev">dev</a></h3>
		<h3><a href="/create">create</a></h3>
		<h3><a href="/recipes">recipes</a></h3>
		<h3><a href="/about">about</a></h3>
	</div>
</nav>

<style lang="scss">
	nav {
		margin: 2vh 0 8vh 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h3 {
		font-weight: bold;
	}

	.items {
		display: flex;
		> * {
			margin-left: .7rem;
		}
	}
</style>
