---
interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = ["blog", "create", "about", "rss.xml"];
---

<nav>
  <h2 class="title"><a href="/">enoch chau</a></h2>
  <div class="items" id="nav-items">
    {
      navItems.map((item) => (
        <h4>
          <a href={"/" + item} class={activeNav === item ? "current-nav" : ""}>
            {item === "rss.xml" ? "rss" : item}
          </a>
        </h4>
      ))
    }
  </div>
</nav>

<style lang="scss">
  .current-nav {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }

  nav {
    margin: 2vh 0 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h4 {
    font-weight: bold;

    > a {
      color: var(--primary);
    }
  }

  .items {
    display: flex;

    > * {
      margin-left: 0.7rem;
    }
  }

  .title {
    font-weight: bold;
    color: var(--primary);
    text-shadow: 1px 1px var(--text-shadow-color),
      2px 2px var(--text-shadow-color), 3px 3px var(--text-shadow-color),
      4px 4px var(--text-shadow-color), 5px 5px var(--text-shadow-color);
    transition: var(--hover-time);

    &:hover {
      transition: var(--hover-time);
      color: var(--text-shadow-color);
      text-shadow: 1px 1px var(--primary), 2px 2px var(--primary),
        3px 3px var(--primary), 4px 4px var(--primary), 5px 5px var(--primary);
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
</style>
