---
interface Props {
  activeNav: string | undefined;
}

const { activeNav } = Astro.props as Props;

const navItems = ["blog", "create", "about", "rss.xml"];
// TODO: "recipes",
---

<nav>
  <h3><a href="/">enoch chau</a></h3>
  <div class="items" id="nav-items">
    {
      navItems.map((item) => (
        <h3>
          <a href={"/" + item} class={activeNav === item ? "current-nav" : ""}>
            {item === "rss.xml" ? "rss" : item}
          </a>
        </h3>
      ))
    }
  </div>
</nav>

<style lang="scss">
  .current-nav {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }

  nav {
    margin: 2vh 0 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-weight: bold;

    > a {
      color: var(--primary);
    }
  }

  .items {
    display: flex;

    > * {
      margin-left: 0.7rem;
    }
  }
</style>
