---

---

<h1>
  <a href="/">enoch chau</a>
</h1>

<style>
  h1 {
    --text-shadow: light-dark(var(--color-gray-300), var(--color-purple-500));
    --text-shadow-hover: light-dark(var(--color-black), var(--color-white));
    font-size: var(--text-xl);
    text-shadow:
      1px 1px var(--text-shadow),
      2px 2px var(--text-shadow),
      3px 3px var(--text-shadow),
      4px 4px var(--text-shadow),
      5px 5px var(--text-shadow);
    &:hover {
      color: var(--color-purple-500);
      text-shadow:
        1px 1px var(--text-shadow-hover),
        2px 2px var(--text-shadow-hover),
        3px 3px var(--text-shadow-hover),
        4px 4px var(--text-shadow-hover),
        5px 5px var(--text-shadow-hover);
    }
    transition-duration: var(--delay-m, 300ms);
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
</style>
