---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h1
  class:list={[
    "tracking-normal font-bold font-sans text-2xl nav-title hover:text-gray-400 transition-all dark:nav-title-dark dark:hover:text-purple-500",
    className,
  ]}
>
  <a
    class="text-inherit no-underline hover:text-inherit hover:no-underline"
    href="/">enoch chau</a
  >
</h1>
