---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h2 class:list={["title", className]}><a href="/">enoch chau</a></h2>

<style lang="scss">
  .title {
    font-weight: bold;
    color: var(--primary);
    text-shadow: 1px 1px var(--text-shadow-color),
      2px 2px var(--text-shadow-color), 3px 3px var(--text-shadow-color),
      4px 4px var(--text-shadow-color), 5px 5px var(--text-shadow-color);

    transition: var(--hover-time);
    &:hover {
      transition: var(--hover-time);
      color: var(--text-shadow-color);
      text-shadow: 1px 1px var(--primary), 2px 2px var(--primary),
        3px 3px var(--primary), 4px 4px var(--primary), 5px 5px var(--primary);
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
</style>
