---
interface Props {
  active?: string;
  items: { label: string; value: string }[];
}

const { active, items } = Astro.props as Props;
---

<nav class="flex gap-3">
  {
    items.map((item) => (
      <h2 class="font-bold text-xl">
        <a
          href={"/" + item.value}
          class:list={[
            "transition-all underline hover:decoration-purple-500",
            { "decoration-purple-500": active === item.label },
            { "decoration-transparent": active !== item.label },
          ]}
        >
          {item.label}
        </a>
      </h2>
    ))
  }
</nav>
