---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

let urls = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/college-recipes/*.webp",
);

let pics = Object.entries(urls).map(([k, v]) => {
  let alt = k.split('/').pop()!.replace(/\.[^/.]+$/, "")
  return {
    alt,
    src: v,
  };
});
---

<div class="flex flex-wrap justify-between gap-4">
  {
    pics.map(({ src, alt }) => (
      <div class="w-72">
        <Image
          src={src()}
          alt={alt}
          width={600}
          format="webp"
          class="w-full h-auto m-0"
        />
      </div>
    ))
  }
</div>
