---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

let urls = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/college-recipes/*.webp",
);

let pics = Object.entries(urls).map(([k, v]) => {
  let alt = k.split('/').pop()!.replace(/\.[^/.]+$/, "")
  return {
    alt,
    src: v,
  };
});
---

<div class="grid">
  {
    pics.map(({ src, alt }) => (
      <div class="frame">
        <Image
          src={src()}
          alt={alt}
          width={600}
          format="webp"
        />
      </div>
    ))
  }
</div>

<style lang="scss">
  .frame {
    width: 300px;
    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
</style>
