.tag {
  padding: 4px;
}
.tagSelected {
  background-color: light-dark(var(--color-gray-300), var(--color-gray-600));
  &:hover {
    background-color: light-dark(var(--color-gray-200), var(--color-gray-500));
  }
}
