---
// props are any iframe html attributes
const props = Astro.props;
---

<div class="relative h-0 mb-4">
  <iframe class="w-full h-full absolute top-0 left-0" {...props} ></iframe>
</div>

<style>
  div {
    padding-bottom: 56.25%;
  }
</style>
