---
// props are any iframe html attributes
const props = Astro.props;
---

<div>
  <iframe {...props}></iframe>
</div>

<style>
  div {
    position: relative;
    height: 0;
    margin-bottom: 8px;
    padding-bottom: 56.25%;
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
