---
import { Image } from "astro:assets";

import Create from "../../../layouts/Create.astro";
import averii from "./averii.webp";
import face from "./face.webp";
import pot from "./pot.webp";
---

<Create title="Visual" description="Selected visual works from 2016 to 2018">
  <div class="img-container">
    <Image
      src={pot}
      alt="Pot - 2018"
      width={800}
      format="webp"
      height={0}
      class="border-img"
    />
  </div>
  <div class="img-container">
    <Image
      src={face}
      alt="Face - 2018"
      width={800}
      format="webp"
      height={0}
      class="border-img"
    />
  </div>
  <div class="img-container">
    <Image
      src={averii}
      alt="Averii - 2017"
      width={800}
      format="webp"
      height={0}
      class="border-img"
    />
  </div>
</Create>

<style>
  .img-container {
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .border-img {
    border: 16px solid black;
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: 520px;
  }
</style>
