---
import { Image } from "astro:assets";

import Create from "../../../layouts/Create.astro";
import averii from "./averii.webp";
import face from "./face.webp";
import pot from "./pot.webp";
---

<Create title="Visual" description="Selected visual works from 2016 to 2018">
  <div class="my-4 flex justify-center items-center">
    <Image
      src={pot}
      alt="Pot - 2018"
      width={800}
      format="webp"
      height={0}
      class="border-img rounded w-auto h-full"
    />
  </div>
  <div class="my-4 flex justify-center items-center">
    <Image
      src={face}
      alt="Face - 2018"
      width={800}
      format="webp"
      height={0}
      class="border-img rounded w-auto h-full"
    />
  </div>
  <div class="my-4 flex justify-center items-center">
    <Image
      src={averii}
      alt="Averii - 2017"
      width={800}
      format="webp"
      height={0}
      class="border-img rounded w-auto h-full"
    />
  </div>
</Create>

<style>
  img.border-img {
    border: 16px solid black;
  }
</style>
