---
import BlogHeader from "../../../components/BlogHeader";
import Create from "../../../layouts/Create.astro";
---

<Create title="Collect" description="Things I collect">
  <ul>
    <li>
      <a href="/blog/2022/college-recipes">
        <BlogHeader>College Recipe</BlogHeader>
      </a>
    </li>
  </ul>
</Create>
