---
import Layout from "./Layout.astro";

interface Props {
  content: {
    title: string;
    subtitle?: string;
    slug: string;
    date: string;
  };
}

let { content } = Astro.props as Props;
---

<Layout
  title={"Enoch - " + content.title}
  activeNav="blog"
  description={content.subtitle}
>
  <div class="md-container">
    <h1>{content.title}</h1>
    {content.subtitle && <h3>{content.subtitle}</h3>}
    <h4>{content.date}</h4>
    <slot />
  </div>
</Layout>

<style is:global lang="scss">
  .md-container {
    img,
    iframe,
    ul,
    p,
    video,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol {
      margin: 0.5rem 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0.8rem 0;
    }

    p {
      line-height: 1.725;
    }

    /* hide md language id */
    div.language-id {
      display: none;
    }

    code {
      background-color: var(--background-secondary);
      border-radius: var(--border-radius);
      padding: 0rem 0.2rem;
    }

    pre.shiki {
      padding: 0.9rem;
      border-radius: var(--border-radius);
      overflow: auto;
    }

    div.code-container > code {
      background-color: unset;
      border-radius: unset;
      padding: unset;
    }

    ul,
    ol {
      list-style-position: outside;
      padding-left: 1rem;
    }

    hr {
      border: 1px solid var(--background-secondary);
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }
  }
</style>
