---
import Layout from "./Layout.astro";

interface Props {
  content: {
    title: string;
    slug: string;
    date: string;
  };
}

let { content } = Astro.props as Props;
---

<Layout title={"enoch - read - " + content.title}>
  <div class="md-container">
    <slot />
  </div>
</Layout>

<style is:global lang="scss">
  .md-container {
    img,
    iframe,
    ul,
    p,
    video,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol {
      margin: 0.5rem 0;
    }

    p {
      line-height: 1.725;
    }

    /* hide md language id */
    div.language-id {
      display: none;
    }

    code {
      background-color: var(--background-secondary);
      border-radius: 0.1rem;
      padding: 0rem 0.2rem;
    }

    pre.shiki {
      padding: 0.9rem;
      border-radius: var(--border-radius);
      overflow: auto;
    }

    div.code-container > code {
      background-color: unset;
      border-radius: unset;
      padding: unset;
    }
  }
</style>
