name: Deploy

on:
  push:
    branches:
      - release

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache astro assets
        uses: actions/cache@v4
        with:
          path: node_modules/.astro/assets
          key: ${{ runner.os }}-astro-images
      - uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check astro
        run: pnpm run check
      - name: Build
        run: pnpm run build
      - name: Deploy on Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages publish dist/ --project-name=website
